.TopicList {
  background: white;
  padding: 200px;
  min-height: 100vh;
}

.TopicList li {
  font-size: 24px;
}

.TopicList a {
  color: #252525;
}
.TopicList a:visited {
  color: #252525;
}

.TopicList a:hover {
  color: #2BAAE2;
}

.TopicList a:active {
  color: #2BAAE2;
}